 <style type="text/css">
    #mensajesAyuda{
        background-color:#FFFFFF; 
        width:350px;
        font-family:Verdana;
        font-size:10px;
        border:1px solid #000000;
        position:absolute;
        top:0px;
        left:0px;
        display:none;
        
    }
    #ayudaTitulo{
        background-color:#F9F5F5; 
        color:#0C0B0B; 
        padding:3px;
        text-align:center;
    }
    #ayudaTexto{
        vertical-align:middle;
        text-align:left;
        padding:3px;
    }
    .mensaje_error{
        position:absolute;
        color: #FB1616;
        font-size: 14px;
        font-weight: bold;
        width: 700px;
        text-align: left;
    }
</style>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h3 class="panel-title">Editar Contraseña</h3>
        </div>
            <form method="post" id="form_pass" name="form_pass"> 
            <div class="panel-body"> 
                <div class="form-group col-md-8 col-md-offset-2 text-center">
                </div>
                    <div class="form-group col-md-8 col-md-offset-2 text-center">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2 text-center">
                        <label>Contraseña Anterior</label> 
                        <font color="#FF0000">*</font><br>
                        <input type="password" name="pass_ant" id="pass_ant" class="form-control" placeholder="Password" required />
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2 text-center">
                        <label>Contraseña Nueva </label> 
                        <font color="#FF0000">*</font>
                         <span onMouseOver="muestraAyuda(event, 'Contraseña Nueva')">
                             <i style='color:#10628A;font-size: 18px;' class='glyphicon glyphicon-question-sign'></i>
                         </span><br>
                        <input type="password" name="pass" id="pass" class="form-control" placeholder="Password" required />
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2 text-center">
                        <label>Confirmar Contraseña</label> <font color="#FF0000">*</font>
                        <input type="password" name="pass2" id="pass2" class="form-control" placeholder="Confirmar Password" required />
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button type="submit" name="bt_usu_search" id="bt_usu_search" class="btn btn-primary">Guardar</button>
                </div>
            </form>
            <div id="mensajesAyuda">
                <div id="ayudaTitulo"></div>
                <div id="ayudaTexto"></div> 
            </div>
       </div>
    </div>
</div>