<style type="text/css">
   



</style>

<!--MODAL EDITAR-->
<div class="modal fade" id="modal-carrito-productos">
  <div class="modal-dialog">
      <div class="modal-content" style="right: 20%;width: 150%;">
          <div class="modal-header">
              <button type="button" class="close" onclick="$('.modal').modal('hide');">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="titulo-modal" style="text-align: center;">Mis Compras</h4>
          </div>
          
   
         <div class="row" >
         <div class="modal-body" style="overflow-y: scroll;height: 75vh;">
          <div class="col-md-12" style="margin-bottom: 20px;" >
               <button class="btn btn-danger pull-right" onclick="vaciar_carrito()">Vaciar Carrito</button>
          </div>
            <div class="col-md-12" >
          <div class="table-responsive" >
            <table id="tbl_carrito" class="table">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th class="mob-hide"></th>
                  <th class="mob-hide">Precio Unitario</th>
                  <th class="table-qty">Cantidad</th>
                  <th>Subtotal</th>
                  <th></th>
                </tr>
              </thead>
              
              <tbody>
               
            </tbody></table>

          </div>
        </div>
    </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Volver</button>
            <button type="button" id="btn_pedido" onclick="hacer_pedido()" class="btn btn-success">Hacer Pedido</button>
          </div>
        
       
     
        </div>



      </div>
  </div>
</div>
<!--FIN MODAL EDITAR-->

