<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Parametros de Busqueda</h3>
            </div>
            <form name="form_busqueda" method="post" id="frm_buscar_solicitud" action="#" autocomplete="off">
                <div class="panel-body">
                    <div class="form-group col-md-3">
                        <label>Fecha Inicio: </label>
                        <div class='input-group date fecha'>
                            <input type="text" name="fecha_inicio" id="fecha_inicio" class="form-control" required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Fecha Fin: </label>
                        <div class='input-group date fecha'>
                            <input type="text" name="fecha_fin" id="fecha_fin" class="form-control" required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Tipos de Solicitud: </label>
                        <select name="tiposol" id="tiposol" class="form-control">
                            <option value="">Seleccionar...</option>
                            <option value="1">Hechas por mi</option>
                            <option value="2">Que me hicieron</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label>Estado: </label>
                        <select name="estadosol" id="estadosol" class="form-control">
                            <option value="">Seleccionar...</option>
                            <option value="1">Aprobado</option>
                            <option value="2">No Aprobado</option>
                        </select>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="submit" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--TABLA DE RESULTADOS DETALLADO-->
<div id="consulta" style="display:none" class="panel panel-primary table-responsive">
    <div class="input-group text-right col-md-12">
        <div class="input-group-btn">
            <button id="CSV" class="btn btn-md btn-primary" title="Descargar Excel"><i class="fa fa-file-excel-o">
                    CSV</i></button>
        </div>
    </div>
    <div class="panel-body" style="overflow-x: auto;">
        <table id="t_reporte" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Tipo Solicitud</th>
                    <th>Estado</th>
                    <th>Detalle</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--MODAL CONTACTO-->
<div class="modal modal2 fade" id="modal_contacto" > 
    <div class="modal-dialog modal-lg" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="cerrar_modal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titulo_modal" style="text-align: center;">Detalle Solicitud Contacto</h4>
            </div>
             <form method="post" id="FrmContacto" action="#">
                 <div class="modal-body"> 
                    <div class="row" style="padding: 10px;">
                        <div class ="col-md-12 panel panel-primary" style="margin-bottom: 20px;padding: 20px;height: 490px;">
                            <div class="seller-information">
                            <div class="data-seller" style="width: 100%;">

                                <label class="label-information" style="border: 1px solid;padding: 10px;border-radius: 2px; width: 98%;"><p>Detalle Solicitud Contacto</p><span class="strong-none" style="font-size: 15px;">
                                
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="label-information">Id Pdv: </label>
                                        </div>
                                        <div class="col-lg-8">
                                                <span class="strong-none" id="idpdvsol"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="label-information">Nombre Pdv: </label>
                                        </div>
                                        <div class="col-lg-8">
                                                <span class="strong-none" id="nombrepdvsol"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="label-information">Nombre Encargado: </label>
                                        </div>
                                        <div class="col-lg-8">
                                                <span class="strong-none" id="nombreencargadosol"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="label-information">Telefono: </label>
                                        </div>
                                        <div class="col-lg-8">
                                                <span class="strong-none" id="telefonosol"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="label-information">Movil: </label>
                                        </div>
                                        <div class="col-lg-8">
                                                <span class="strong-none" id="celularsol"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="label-information">Titulo Producto: </label>
                                        </div>
                                        <div class="col-lg-8">
                                                <span class="strong-none" id="tituloprod"></span>
                                        </div>
                                    </div>
                                
</label>
                                                                                   
                            </div>                            
                      </div>                   
                        </div>
                        <div class="modal-footer" style="text-align: center;margin-top: 5%;">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="cerrar_modal()">Cerrar</button>
                        </div>              
                    </div>                    
                 </div>
             </form>
        </div>
    </div>
  </div>
<!--FIN MODAL-->

<div style="display: none">
    <button type="submit" class="btn btn-primary"></button>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>