
      
        <!-- Main content -->
        <section class="content">
          <div class="error-page">
            <h1 class="headline text-red"> 404<br></h1>
            <div class="error-content"><br>
              <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina no encontrada.</h3>
              <p>
                El modulo al que intentas acceder no se pudo encontrar, por favor verifica con Soporte Tecnico!
              </p>
            </div><!-- /.error-content -->
          </div><!-- /.error-page -->
        </section><!-- /.content -->

      
