<link rel="stylesheet" type="text/css" href="template/css/my_style.css">
<style>

  .tarifa_especial .modal-dialog{
    -webkit-animation-name: movimiento2;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
  }

  .tarifa_especial .modal-header{
    border-bottom: 5px solid transparent !Important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-animation-name: movimiento;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
  }
  .grupo_general{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .grupo1{
    width: calc(28% - 15px);
    border-radius: 3px;
    background-color: #e7e7e7;
    color: #333;
    padding: 8px 0;
    top: 0;
    box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.4);
  }

  .sal.col-md-6 {
    width: 100%;
  }

  .grupo2{
    width: 72%;
    box-shadow: -1px 1px 2px 0 rgba(0,0,0,0.3);
  }

  .grupo2,
  .grupo2 #banner-mbox,
  .grupo2 #banner-mbox #cont_img,
  .grupo2 #banner-mbox #cont_img div img {
    border-radius: 6px;
  }
  /*--- Banner ----*/

  #banner-mbox{
    width: 100%;
    height: auto;
    max-width: 1024px;
    max-height: 300px;
  }
  #banner-mbox img{
    width: 100%;
    height: auto;
  }

  .grupo2 h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    float: right;
    padding-right: 10px;
    font-size: 13px;
    text-shadow: 2px 2px 6px 2px #000;
    font-weight: bold;

  }

  .w_b_v{
    position: absolute;
    width: 100%;
    transition: opacity .1s linear;
    background: #ffffff;
    border: 0;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    outline: none;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1000;
    left: 0px;
  }

  .s_b{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 17px;
  }

  .s_b:hover{
    background: #e7e7e7;
  }

  .sel_arrow{
    position: absolute;
    right: 5px;
    top: -5px;
    cursor: pointer;
    padding: 1px;
    display: none;
    z-index: 1001;
    width: 30px;
    text-align: center;
  }

  @media screen and (max-width: 768px){
    .grupo_general{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    .grupo1{
      width: 100%;
      margin-bottom: 15px;

    }
    .grupo2{
      width: 100%;
    }
    .grupo2 h4{
      float: none;

    }
    .sal{
      width: 100%;
      display: flex;
      justify-content: center;
    }


  }
  @-webkit-keyframes movimiento {
     from {
      background-color:#003245;
     }

     to {
      background-color: #5cb85c;
     }
  }

  @-webkit-keyframes movimiento2 {
     from {
        border: 4px solid #003245;
     }

     to {
        border: 4px solid #5cb85c;
     }
  }

</style>
<div id="recargas">
  <div class="load"><div class="load-content">En este momento se está procesando tu solicitud... <img src="template/img/loading.gif" border="0" style="position: relative;bottom: 10px;"></div></div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
       <div class="panel panel-primary" style="font-family: sans-serif;">
          <div class="panel-heading text-center">
              <h3 class="panel-title">Venta de Recargas</h3>
          </div>
              <form name="frmRe" id="frmRe" autocomplete="off">
                  <input type="hidden" name="saldoac" id="saldoac" value="">
                  <input type="hidden" name="saldoacIn" id="saldoacIn" value="">
                  <div class="panel-body">
                      <!--<div class="form-group col-md-12">-->
                      <div class="grupo_general">
                       <div class="grupo1">
                          <div class="sal col-md-6" style="font-size: 19px;">

                              <div id="nom_bolsa"></div>

                              <div class="w_b_v" style="display: none">
                                <div id="carga_bolsas"></div>
                              </div>

                              <div id="cargar_bolsa" class="sel_arrow"><span class="glyphicon glyphicon-chevron-down arrow" style="font-size: 13px"></span></div>

                              Saldo recarga:
                              <span class="bol" id="bolsa"></span>


                           </div>
                           <div class="sal col-md-6" style="font-size: 19px;">Saldo incentivo movistar:
                              <span class="bol" id="bolsa_in"></span>
                          </div>
                        </div>
                      <div class="grupo2">
                        <div id="banner-mbox" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                           <ol id = "indicadores" class="carousel-indicators" style="bottom:0;">

                           </ol>
                           <!-- Wrapper for slides -->
                           <div id="cont_img" class="carousel-inner" role="listbox">

                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#banner-mbox" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only">Anterior</span>
                            </a>
                            <a class="right carousel-control" href="#banner-mbox" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only">Siguiente</span>
                            </a>
                          </div>
                      </div>
                     </div>
                      <!--</div>-->
                      <div class="form-group col-md-12 text-left"></div>
                      <div class="form-group col-md-12 text-center" style="border: 1px solid #e7e7e7;padding-top: 15px;">
                     	    <!--<div style="background:#E7E7E7;height:1px;"></div>-->
                        <div class="form-group col-md-6 text-center" style="position: relative;right: 5px;padding: 0;" id="operadores">
                            <div id="oper_movistar" style="display: none">
                              <label style="font-size: 18px;">Operador Principal:</label><br />
                              <span class="cssToolTip2">
                                  <input type="radio" id="6" name="servicio" value="6-Recarga Movistar" onClick="loaddescrip(this.value)">
                                  <label for="6"><img src="template/img/operadores/Movistar.png" alt="Recarga Movistar"></label>
                                  <div> Recarga Movistar </div>
                              </span><br /><br />
                            </div>
                            <div id="otros_oper" style="display: none">
                              <label style="font-size: 18px;">Otros Operadores:</label>
                              <div style="width:auto;margin: 0 auto;" id="ver_operadores"></div>
                            </div>
                        </div>

                       <div class="form-group col-md-6 text-center" style="border-left: 1px solid #E7E7E7;">
                           <div id="servs" style="display:none">
                                <label style="font-size: 18px;">Categoria Paquete :</label>
                                <div id="idservicio"></div>
                                 <div id="paquetes"></div>
                                <br>
                           </div>
                           <label style="font-size: 18px;">Descripción:</label>
                           <div id="resultser" style="background-color: #E7E7E7;padding: 5px;border-radius: 3px;font-size: 17px;">N/A</div>
                           <br />
                           <label style="font-size:18px;">Movil:</label>
                           <input id="num_m" name="num_m" type="text" class="form-control"  style="font-size:17px;"/>
                            <br />
                            <div id="valuestatic">
                              <p style="font-size:18px;"><strong>Seleccione el valor de la recarga:</strong></p>
                              <div >
                                  <p>
                                  <input type="radio" id="1000" name="valor" value="1000" onClick="clearvalue(this.value)">
                                  <label for="1000" style="font-size:25px;">1,000</label>

                                  <input type="radio" id="2000" name="valor" value="2000" onClick="clearvalue(this.value)">
                                  <label for="2000" style="font-size:25px">2,000</label>

                                  <input type="radio" id="5000" name="valor" value="5000" onClick="clearvalue(this.value)">
                                  <label for="5000" style="font-size:25px">5,000</label>

                                  <input type="radio" id="10000" name="valor" value="10000" onClick="clearvalue(this.value)">
                                  <label for="10000" style="font-size:25px">10,000</label>

                                  <input type="radio" id="20000" name="valor" value="20000" onClick="clearvalue(this.value)">
                                  <label for="20000" style="font-size:25px">20,000</label>

                                  <input type="radio" id="50000" name="valor" value="50000" onClick="clearvalue(this.value)">
                                  <label for="50000" style="font-size:25px">50,000</label>
                                  </p>
                              </div>
                             </div>
                             <br />
                             <label style="font-size:18px;">Valor de la venta:</label>
                             <input type="text" name="valorotro" id="valorotro" class="form-control" style="font-size:17px;">
                             <input type="hidden" name="valorotro2" id="valorotro2">
                             <input type="hidden" name="valorotro3" id="valorotro3">
                           <div style="display:none;">
                               <strong>Descuento Saldo :</strong>
                               <div id="valor_des" style="font-size:13px;">0</div>
                           </div>

                           <div style="display:none;">
                               <strong>Utilidad :</strong>
                               <div id="idservicio2" style="font-size:13px;">0</div>
                           </div>

                       </div>

                     </div>
                 </div>
                 <div class="panel-footer text-center">
                      <button type="button" id="cancelar" class="btn btn-danger">Cancelar</button>
                      <button type="submit" name="bt_envi" id="bt_envi" class="btn btn-primary">Enviar</button>
                 </div>

              </form>
           </div>
      </div>
  </div>

  <div class="form-group col-md-8 col-md-offset-2 text-center">
      <button type="submit" name="bt_envi" id="ultimeTransac" class="btn btn-primary">Últimas 10 transacciones</button>
  </div>
  <div id="resultado" class="panel panel-primary" style="display:none;">
      <div class="panel-body">
          <table id="tblTrans" align="center" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                  <tr>
                      <th align="center">Movimiento</th>
                      <th align="center">Servicio</th>
                      <th align="center">Móvil</th>
                      <th align="center">Paquetigo</th>
                      <th align="center">Fecha Transacción</th>
                      <th align="center">Hora Transacción</th>
                      <th align="center">Porcentaje %</th>
                      <th align="center">Total valor</th>
                      <th align="center">Saldo Anterior Incentivo</th>
                      <th align="center">Descuento Incentivo</th>
                      <th align="center">Saldo Final Incentivo</th>
                      <th align="center">Saldo Anterior</th>
                      <th align="center">Descuento de Saldo</th>
                      <th align="center">Saldo Final</th>
                      <th align="center">Nombre Bolsa</th>
                      <!--<th align="center">Estado</th>-->
                  </tr>
              </thead>
          </table>
      </div>
  </div>

</div>



