 <style>
 .totalidad_grupos{
  width: 100%;

 }
 .grupo_general{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grupo2{
    width: 1014px
    height:300px;
    box-shadow: -1px 1px 2px 0 rgba(0,0,0,0.3);


  }
  .grupo2 h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;  
    float: right;
    padding-right: 10px;
    font-size: 13px;
    text-shadow: 2px 2px 6px 2px #000;
    font-weight: bold;
    
  }

  .grupo2,
  .grupo2 #banner-mbox,
  .grupo2 #banner-mbox #cont_img,
  .grupo2 #banner-mbox #cont_img div img {
    border-radius: 6px;
  }
  /*--- Banner ----*/

  #banner-mbox{
    width: 100%;
    height: auto;
    max-width: 1024px;
    max-height: 300px;

  }
  #banner-mbox img{
    width: 100%;
    height: auto;
  }
  

  @media screen and (max-width: 1048px){
    .grupo_general{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }

    .grupo2{
      width: 100%;
      background: aqua;
    }
    .grupo2 h4{
      float: none;
    }

    .sal{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .tex_acceso{
      color:#fff;
    }
 

  }
</style>


  <div class="panel panel-default">
    <div class="panel-body">
      <div class="grupo_general">
          
            <div class="grupo2">
              <div id="banner-mbox" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol id = "indicadores" class="carousel-indicators" style="bottom:0;"></ol>
                <!-- Wrapper for slides -->
                <div id="cont_img" class="carousel-inner" role="listbox"></div>
                <!-- Controls -->
                <a class="left carousel-control" href="#banner-mbox" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#banner-mbox" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            </div>
         </div>
      </div>
   </div>  

 
<!--GRAFICO PUNTO-->
<div class="panel panel-default">
  <div class="panel-body">
        
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="#dia" id="select_dia" aria-controls="home" role="tab" data-toggle="tab">DIA</a></li>
              <li role="presentation" ><a href="#sem" aria-controls="profile" id="select_sem" role="tab" data-toggle="tab">SEMANA</a></li>
              <li role="presentation"><a href="#mes" aria-controls="messages" id="select_mes" role="tab" data-toggle="tab">MES</a></li>
            </ul>

           
            <div class="tab-content">
              <!--DASHBOARD DIA-->
              <div role="tabpanel" class="tab-pane active" id="dia">
                      <div class="row">
                    <!--PANEL COMPRAS-->
                      <div class="col-md-4">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">COMPRAS</h3>
                          </div>
                          <div class="panel-body">
                              <table class="table table-bordered">
                                <thead>
                                    <tr>
                                       <th>Simcards</th>
                                       <th>Equipos</th>
                                       <th>Saldo</th>
                                    </tr>
                                   </thead>
                                   <tbody id="tb_compras_dia">
                                   </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                    <!--PANEL COMPRAS FIN-->
                    <!--PANEL VENTAS/ACTIVACIONES-->
              
                      <div class="col-md-2 col-md-offset-1">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">VENTAS/ACTIVACIONES</h3>
                          </div>
                          <div class="panel-body">
                              <table class="table table-bordered">
                                <thead>
                                    <tr>
                                       <th>Simcards</th>
                                    </tr>
                                   </thead>
                                   <tbody id="tb_ventas_dia">
                                    
                                   </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                      <!--PANEL VENTAS/ACTIVACIONES FIN-->
                      <!--PANEL VISITA-->
              
                      <div class="col-md-4 col-md-offset-1">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">ULTIMA VISITA</h3>
                          </div>
                          <div class="panel-body">
                              <table class="table table-bordered">
                                <thead>
                                    <tr>
                                       <th>Fecha</th>
                                       <th>Hora</th>
                                       <th>Vendedor</th>
                                    </tr>
                                   </thead>
                                   <tbody id = "tb_vis_dia" >
                                    
                                   </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL VISITA FIN-->
                    <!--PANEL RECARGAS-->
              
                      <div class="col-md-12">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">RECARGAS</h3>
                          </div>
                          <div class="panel-body table-responsive">
                               <div id="graf_recargas_dia" style="height: 400px; min-width: 600px"></div>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL VISITA FIN-->
                    </div>
                    
              </div>
              <!--DASHBOARD DIA FIN-->

              <!--DASHBOARD SEMANA-->
              <div role="tabpanel" class="tab-pane" id="sem">
               <br>
               <div class="row">
                <!--PANEL VISITA-->
              
                      <div class="col-md-4 col-md-offset-4">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">ULTIMA VISITA</h3>
                          </div>
                          <div class="panel-body">
                              <table class="table table-bordered">
                                <thead>
                                    <tr>
                                       <th>Fecha</th>
                                       <th>Hora</th>
                                       <th>Vendedor</th>
                                    </tr>
                                   </thead>
                                   <tbody id="tb_vis_sem">
                                   </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL VISITA FIN-->
                    <!--PANEL COMPRAS-->
              
                      <div class="col-md-12">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">COMPRAS</h3>
                          </div>
                          <div class="panel-body table-responsive">
                               <div id="graf_comp_sem" style="height: 400px; min-width: 600px"></div>
                               <br>
                               <div id="graf_comp_sal_sem" style="height: 400px; min-width: 600px"></div>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL COMPRAS FIN-->
                    <!--PANEL VENTAS/ACTIVACIONES-->
              
                      <div class="col-md-12">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">VENTAS/ACTIVACIONES</h3>
                          </div>
                          <div class="panel-body table-responsive">
                               <div id="graf_act_sem" style="height: 400px; min-width: 600px"></div>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL VENTAS/ACTIVACIONES FIN-->
                    <!--PANEL RECARGAS-->
              
                      <div class="col-md-12">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">RECARGAS</h3>
                          </div>
                          <div class="panel-body table-responsive">
                               <div id="graf_rec_sem" style="height: 400px; min-width: 600px"></div>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL RECARGAS FIN-->
               </div>
              </div>
              <!--DASHBOARD SEMANA FIN-->
              <!--DASHBOARD MES-->
              <div role="tabpanel" class="tab-pane" id="mes">
                <br>
               <div class="row">
                <!--PANEL VISITA-->
              
                      <div class="col-md-4 col-md-offset-4">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">ULTIMA VISITA</h3>
                          </div>
                          <div class="panel-body">
                              <table class="table table-bordered">
                                <thead>
                                    <tr>
                                       <th>Fecha</th>
                                       <th>Hora</th>
                                       <th>Vendedor</th>
                                    </tr>
                                   </thead>
                                  <tbody id="tb_vis_mes">
                                   </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL VISITA FIN-->
                    <!--PANEL COMPRAS-->
              
                      <div class="col-md-12">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">COMPRAS</h3>
                          </div>
                          <div class="panel-body table-responsive">
                               <div id="graf_comp_mes" style="height: 400px; min-width: 600px"></div>
                               <div id="graf_comp_sal_mes" style="height: 400px; min-width: 600px"></div>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL COMPRAS FIN-->
                    <!--PANEL VENTAS/ACTIVACIONES-->
              
                      <div class="col-md-12">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">VENTAS/ACTIVACIONES</h3>
                          </div>
                          <div class="panel-body table-responsive">
                               <div id="graf_act_mes" style="height: 400px; min-width: 600px"></div>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL VENTAS/ACTIVACIONES FIN-->
                    <!--PANEL RECARGAS-->
              
                      <div class="col-md-12">
                       <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title text-center">RECARGAS</h3>
                          </div>
                          <div class="panel-body table-responsive">
                               <div id="graf_rec_mes" style="height: 400px; min-width: 600px"></div>
                          </div>
                        </div>
                      </div>
                    
                    <!--PANEL RECARGAS FIN-->
               </div>
              </div>
              <!--DASHBOARD MES FIN-->
            </div>

      </div>
  </div>
</div>
<!--GRAFICO PUNTO FIN-->
               
