<!-- El html esta diseñado con hojas de estilo de Bootstrap
	 Encuentra Documentacion en http://getbootstrap.com/ -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Reporte de Comisiones</h3>
            </div>
           <form name="frmConsulta" id="frmConsulta" method="post" action="#">
                <div class="panel-body">
                  <div class="form-group col-md-6">
                         <label>Periodo :</label>
                            <select id="periodo"  class="form-control" title="Periodo">
                              <option>Seleccione..</option>
                            </select>
                    </div>
                     <div class="form-group col-md-6">
                        <label>Estado Comisión : </label>
                        <select id="est_com" class="form-control">
                          <option value="0">Seleccione..</option>
                          <option value="1">Pagada</option>
                            <option value="2">Pendiente por Pagar</option>
                        </select>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="submit" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
  </div>
</div>


<div id="consulta" style="display:none;" class="panel panel-primary">
<div class="input-group" style="width: 100px;">
           <div class="input-group-btn">
               <button id="CSV" class="btn btn-md btn-primary" title="Descargar Exel"><i class="fa fa-file-excel-o"> CSV</i></button>
           </div>
</div>
      <div class="panel-body" id="consulta">
           <table id="t_reporte" class="table table-condensed table-striped dt-responsive nowrap" cellspacing="0" width="100%">
             <thead>
                <tr>
                	<th>Nº</th>
                    <th>Periodo</th>
                    <th>Total a Pagar </th>
                    <th>Pendiente por Pago</th>
                </tr>
             </thead>
             <tbody></tbody>
           </table>
       </div>
</div>
