<style>
	.flex-container {
		display: flex;
		flex-wrap: nowrap;
	}

</style>

<div class="row">
	<div class="col-md-12 ">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Parámetros de Búsqueda</h3>
			</div>
			<form name="frmCompras" id="frmCompras" method="post" action="#" autocomplete="off">
				
				<div class="panel-body">
					<div class="form-group col-md-4">
						<label>Tipo:</label>
			
						<select class="form-control" name="nombre" id="nombre">
						  <option value="">SELECCIONAR</option>
						</select>
					  </div>
			
					  <!-- estado -->
					  <div class="form-group col-md-4">
						<label>Sub-Tipo:</label>
			
						<select class="form-control" name="nom_subtipo" id="nom_subtipo">
						  <option value="">SELECCIONAR</option>
						</select>
					  </div>

					<div class="form-group col-md-4">
						<label>Nombre Marca:</label>
						<select name="nombretip" id="nombretip" class="form-control">
								<option value="">SELECCIONAR</option>
						</select>
						
					</div>
					
				</div>
				<div class="panel-footer text-center">
					<button type="button" name="btn_buscar" onclick="filtros_header()" id="btn_buscar" class="btn btn-primary">Buscar</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="row" style="margin-top: 40px;" > 
	
		<div class="col-md-2"> 
			<h5>Productos</h5>
		</div>
		<div class="col-md-7">
			<div class="input-group">
			  <input type="text" id="txt_buscar" class="form-control" onkeypress="return EjecutarBusqueda(event)" >
			  <span class="input-group-btn">
				<button class="btn btn-primary" type="button" onclick="cargar_paginador(1)">Buscar</button>
			  </span>
			</div>
		 </div>
		<div class="col-md-3">
			<nav aria-label="..." style="margin-top: -18px;">
				<ul id="paginador" class="pagination pagination-sm" style="float: right;margin-right: 5px;">
				</ul>
			  </nav>
		</div>
  
	
	
</div>

<div id="conte_pagina" class=" panel panel-default" style="padding-top:15px;min-height: 600px;">
		  
</div>


