.widget-titulo-cumplimiento {
    font-size: 20px;
}

.widget-iconos-cumplimiento {
    font-size: 20px;
}

.widget-contenido {
    height: 430px;
}

.widget-contenido-datos {
    width: 100%;
    height: 350px;
    overflow: auto;
}

.widget-contenido-datos-grupos {
    width: 100%;
    height: 350px;
    overflow: auto;
}

.widget-no-resultado {
    font-size: 24px;
    color: #6a6a6a;
    text-align: center;
    position: relative;
    top: 30%;
}

.cumplimiento-porcentaje {
    font-weight: bold;
    font-size: 13px;
    padding: 2px;
    width: 81px;
    text-align: center;
    border-radius: 50px
}

.widget-titulo-iconos {
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
    font-size: 20px;
    color: #6a6a6a;
}

.select2-dropdown {
    z-index: 10000;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 1rem!important;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
    margin-bottom: .75rem;
    font-size: 18px;
    font-weight: bold;
    color: #6a6a6a;
}

.card-presupuesto {
    margin-bottom: .75rem;
    margin-bottom: .75rem;
    font-size: 15px;
    font-weight: bold;
}

.card-cumplimiento {
    margin-bottom: .75rem;
    margin-bottom: .75rem;
    font-size: 13px;
    font-weight: bold;
}

.text-muted {
    color: #6c757d!important;
}

.mb-2,
.my-2 {
    margin-bottom: .5rem!important;
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}

.grafico-grupo {
    position: absolute;
    right: 0;
    top: 0;
}

div.seleccionar-vista {
    padding: 12px;
    cursor: pointer;
}

.highcharts-figure .chart-container {
    width: 130px;
    height: 100px;
    float: left;
}

.highcharts-yaxis-labels {
    display: none;
}

.success-cumplmiento {
    background-color: #acdfb4;
    color: #0e751e;
}

.medio-cumplmiento {
    background-color: #f9f4b7;
    color: #9e9512;
}

.bad-cumplmiento {
    background-color: #f9bcb7;
    color: #fb685c;
}

#resultadoColocacionBodegaDistri {
    font-size: 14px;
}

.widget-info {
    max-height: 302px;
    overflow-y: auto;
    padding-right: 20px;
}

@media (max-width: 1659px) {
    .widget-titulo-cumplimiento {
        font-size: 15px;
    }
    .widget-iconos-cumplimiento {
        /*font-size: 5px;
        width: 40%;*/
    }
}

@media (max-width: 1374px) {
    .widget-iconos-cumplimiento {
        font-size: 0;
    }
}

@media (max-width: 1353px) {
    .widget-contenido-datos {
        height: 336px;
    }
    #resultadoColocacionBodegaDistri {
        font-size: 10px;
    }
}