<!-- El html esta diseñado con hojas de estilo de Bootstrap
	 Encuentra Documentacion en http://getbootstrap.com/ 
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary" style="position: relative;">
          <div class="panel-heading text-center">
              <h3 class="panel-title">Encuestas</h3>
          </div>
          <div class="col-md-12" id="visor_panel">
            <div class="titulo_enc text-center"><h1></h1></div>
            <div class="descrp_enc text-center"><h3></h3></div>
            <div class="cant_preg text-center"><label>Nro. Preguntas: </label> <span id="total_preg" style="font-size: 16px;"></span></div>
          </div>
          <div class="container" id="visor_encuesta" style="display: hidden;"></div>
          <div class="col-md-12 text-center text-primary saltar_enc" style="cursor: pointer; display: none;">Saltar Encuesta</div>
          <div class="col-md-12 text-right enviar">
            <input type="button" class="btn btn-primary" id="previous" style="margin: 15px; width: 160px; display: none; float: left;" value="Anterior" /> 
            <input type="button" class="btn btn-primary" id="next" style="margin: 15px; width: 160px;" value="Siguiente" />
          </div>
          <div style="clear: both;"></div>
      </div>
  </div>
</div>-->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
       <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h3 class="panel-title" id="titulo_enc">Encuestas</h3>
          </div>
            
           <div class="panel-body">

              <div id="obliga" class="text-right" style="display: none;font-size: 11px;color: #797777;">Obligatoria</div>

              <div class="col-md-12" id="visor_panel">
                <div class="titulo_enc text-center"><h1></h1></div>
                <div class="descrp_enc text-center"><h3></h3></div>
                <div class="cant_preg text-center"><label>Nro. Preguntas: </label> <span id="total_preg" style="font-size: 16px;"></span></div>
              </div>

              <div class="container" id="visor_encuesta" style="display: hidden;"></div>
              <div class="col-md-12 text-center text-primary saltar_enc" style="cursor: pointer; display: none;">Saltar Encuesta</div>

            </div>
            
            <div class="panel-footer text-right">
                <input type="button" class="btn btn-primary" id="previous" style="margin: 15px; width: 160px; display: none; float: left;" value="Anterior" /> 
                <input type="submit" class="btn btn-primary" id="next" style="margin: 15px; width: 160px;" value="Siguiente" />
            </div>
        
      </div>
  </div>
</div>


<!-- Modal de crear o editar -->
<div class="modal fade">
  <div class="modal-dialog"> <!-- modal-sm (modal pequeño) . modal-lg (modal grande) ejm: class="modal-dialog modal-sm" -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="titulo_modal">Corfime su respuesta</h4>
      </div>
      
      <div class="modal-body adminlist">  
          <div class="row">
             <div class ="col-md-12">
                  <div class="col-md-12"><h3>¿Esta seguro de su respuesta?</h3></div>
              </div> 
          </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary click_modal">Confirmar</button>
      </div>
      
    </div>
  </div>
</div>