<!-- El html esta diseñado con hojas de estilo de Bootstrap
	 Encuentra Documentacion en http://getbootstrap.com/ -->
<div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Comisiones</h3>
            </div>
            <form name="frmPendientes" id="frmPendientes" method="post" action="#">
                <div class="panel-footer text-center">
                    <button type="submit" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar Comisiones Pendientes</button>
                </div>
            </form>
        </div>
  </div>
</div>


<div id="consulta" style="display:none;overflow-y: auto;" class="panel panel-primary">
      <div class="panel-body">
       <table id="t_reporte" class="table table-condensed table-striped dt-responsive nowrap" cellspacing="0" width="100%">
         <thead>
            <tr>
            	<th>Nº</th>
                <th>Periodo Comisiones</th>
                <th>Valor de la Comisión</th>
                <th>Pendiente por Pagar</th>
                <th>Generar Código</th>
                <th>Vigencia</th>
            </tr>
         </thead>
       </table>
      </div>
</div>
