<div class="row">
  <div class="col-md-8 col-md-offset-2">
     <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3 class="panel-title">Reporte de Ventas</h3>
        </div>
            <form name="frmRe" id="frmRe">
                <div class="panel-body">
                    <div class="form-group col-md-6">
                    	 <label>Fecha Inicio :</label>
                    	 <div class='input-group date' id='datetimepicker1'>
                         	 <input type="text" id="fecha_ini" name="fecha_ini" class="form-control" required title="Fecha Inicio"> 
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                    </div>
                     <div class="form-group col-md-6">
                     	 <label>Fecha Fin :</label>	
                     	 <div class='input-group date' id='datetimepicker2'>
                             <input type="text" id="fecha_fin" name="fecha_fin" class="form-control" required title="Fecha Fin">
                             <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                    </div>
                    <div class="form-group col-md-6">    
                       <label>Movil :</label>
                       <input id="num_m" name="num_m" type="text" class="form-control"/>
                    </div>
                     <div class="form-group col-md-6">    
                         <label>Operador :</label>
                         <select id="opers" name="opers" class="form-control"></select>
                     </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="submit" name="bt_reca_search" id="bt_reca_search" class="btn btn-primary">Buscar</button>
                </div>
            </form>
         </div>
    </div>
</div>
<div id="resultado" class="panel panel-primary" style="display:none;">
    <div class="panel-body">
    	<div class="input-group pull-right" style="width: 100px;">
      	   <div class="input-group-btn">
               <button id="CSV" class="btn btn-md btn-primary"><i class="fa fa-file-excel-o"> CSV</i></button>
           </div>
        </div>
        <table id="tblTrans" align="center" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                	<th align="center">No</th>
                	<th align="center">Fecha Transacción</th>
                    <th align="center">Hora Transacción</th>
                    <th align="center">Hora Registro</th>
                    <th align="center">Transacción Id</th>
                    <th align="center">Móvil</th>
                    <th align="center">Valor</th>
                    <th align="center">Servicio</th>
                    <th align="center">Paquetigo</th>
                </tr>
            </thead> 
        </table>
    </div>
</div> 

      

