<!-- El html esta diseñado con hojas de estilo de Bootstrap
   Encuentra Documentacion en http://getbootstrap.com/ -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Reporte recarga Error</h3>
            </div>
            <form name="form_busqueda" method="post" id="frm_buscar_rutas" action="#">
                <div class="panel-body">
                    
                    <div class="form-group col-md-6">
                         <label>Fecha Inicio :</label>
                         <div class='input-group date' id='datetimepicker1'>
                             <input type="text" id="f_ini" name="f_ini" class="form-control fecha" required  title="Fecha Inicio" > 
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                    </div>
                     <div class="form-group col-md-6"> 
                         <label>Fecha Fin :</label> 
                         <div class='input-group date' id='datetimepicker2'>
                             <input type="text" id="f_fin" name="f_fin" class="form-control fecha" required  title="Fecha Fin">
                             <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Operador: </label>
                        <select name="operador" id="operador" class="form-control">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Movil: </label>
                      <input type="text" name="movil" id="movil" class="form-control" placeholder="Buscar por movil">
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="button" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
  </div>
</div>

<div id="consulta" style="display: none;overflow-y: auto;" class="panel panel-primary">
<div class="input-group" style="width: 100px;">
           <div class="input-group-btn">
               <button id="CSV" class="btn btn-md btn-primary" title="Descargar Exel"><i class="fa fa-file-excel-o"> CSV</i></button>
           </div>
      </div>
  <div class="panel-body">
       <table id="tbl_reporte" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
         <thead>
           <tr>
              <th align="center" class="all">Fecha</th>
              <th align="center" class="all">Cantidad Errores</th>
              <th align="center" class="all">Detalle</th>
            </tr>
         </thead>
       </table>
  </div>
</div>


<dir style="display: none">
    <button type="submit" class="btn btn-primary"></button>
</dir>
