<!-- form -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Compra Saldo</h3>
            </div>
            
            <form name="form_busqueda" id="frm_buscar_rutas" method="POST">
                <div class="panel-body">
                    <div class="form-group col-md-4">
                        <label>Fecha Inicio:</label>
                        
                        <div class="input-group date" id="datetimepicker1">
                            <input type="text" id="f_ini" name="f_ini" class="form-control fecha" title="Fecha Inicio" required />
                            
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label>Fecha Fin:</label> 
                        
                        <div class="input-group date" id="datetimepicker2">
                            <input type="text" id="f_fin" name="f_fin" class="form-control fecha" title="Fecha Fin" required />
                            
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label>Tipo movimiento:</label>
                        
                        <select name="tipo" id="tipo" class="form-control">
                            <option value="">Seleccionar...</option>
                            <option value="0">Compra</option>
                            <option value="1">Ajuste</option>
                            <option value="2">Comision</option>
                            <option value="3">Ajuste Paquete</option>
                            <option value="4">Incentivo</option>
                        </select>
                    </div>
                </div>
                
                <div class="panel-footer text-center">
                    <button type="button" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- result -->
<div id="consulta" style="display: none; overflow-y: auto;" class="panel panel-primary">
    <div class="input-group" style="width: 100px;">
        <div class="input-group-btn">
            <button id="CSV" class="btn btn-md btn-primary" title="Descargar Excel"><i class="fa fa-file-excel-o"> CSV</i></button>
        </div>
    </div>
    
    <div class="panel-body">
        <table id="tbl_compra_saldo" colspan="5" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>TIPO MOVIMIENTO</th>
                    <th>VALOR COMPRA</th>
                    <th>VALOR TRASLADADO</th>
                    <th>VALOR COMISION</th>
                    <th>DETALLE</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<dir style="display: none;">
    <button type="submit">Buscar</button>
</dir>