<!-- El html esta diseñado con hojas de estilo de Bootstrap
	 Encuentra Documentacion en http://getbootstrap.com/ -->
<div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Reporte de Activaciones</h3>
            </div>
           <form name="frmConsulta" id="frmConsulta" method="post" action="#">
                <div class="panel-body">
                  <div class="form-group col-md-6">
                         <label>Fecha Inicio :</label>
                         <div class='input-group date fecha'>
                             <input type="text" id="f_ini"  class="form-control " required title="Fecha Inicio"> 
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                    </div>
                     <div class="form-group col-md-6">
                         <label>Fecha Fin :</label> 
                         <div class='input-group date fecha' >
                             <input type="text" id="f_fin"  class="form-control fecha" required title="Fecha Fin">
                             <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="submit" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
  </div>
</div>


<div id="consulta" style="display:none;overflow-y: auto;" class="panel panel-primary">
<div class="input-group" style="width: 100px;">
           <div class="input-group-btn">
               <button id="CSV" class="btn btn-md btn-primary" title="Descargar Exel"><i class="fa fa-file-excel-o"> CSV</i></button>
           </div>
</div>
      <div class="panel-body" id="consulta">
           <table id="t_reporte" class="table table-condensed table-striped dt-responsive nowrap" cellspacing="0" width="100%">
             <thead>
                <tr>
                	<th>Nº</th>
                    <th>Producto</th>
                    <th>Cantidad </th>
                    <th>Detalle</th>
                </tr>
             </thead>
             <tbody></tbody>
           </table>
       </div>
</div>
