<!-- El html esta diseñado con hojas de estilo de Bootstrap
	 Encuentra Documentacion en http://getbootstrap.com/ -->
<div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Reporte de Consumos</h3>
            </div>
           <form name="frmConsulta" id="frmConsulta" method="post" action="#">
                <div class="panel-footer text-center">
                    <button type="submit" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Generar</button>
                </div>
            </form>
        </div>
  </div>
</div>


<div id="consulta" style="display:none;" class="panel panel-primary">
	
    
    
    <div class="panel-heading text-center">
        <h3 class="panel-title">Mes Actual</h3>
    </div>
    <br />
    <div class="text-center">
    	<div id="fecha_movi"></div>
    </div>
      <div class="panel-body" id="consulta">
       <table id="t_reporte" class="table table-condensed table-striped dt-responsive nowrap" cellspacing="0" width="100%">
         <thead>
            <tr>
                <th>Cantidad Lineas Activas</th>
                <th>Lineas Recargadas</th>
                <th>Cantidad Recargas</th>
                <th>Valor Total</th>
            </tr>
         </thead>
       </table>
      </div>
</div>

<div id="consulta2" style="display:none;" class="panel panel-primary">
    <div class="input-group" style="width: 100px;">
       <div class="input-group-btn">
           <button id="CSV" class="btn btn-md btn-primary" title="Descargar Exel"><i class="fa fa-file-excel-o"> CSV</i></button>
       </div>
    </div>
    <br />
    <div class="panel-heading text-center">
    	<h3 class="panel-title">Promedio últimos 6 Meses</h3>
    </div>
    <div class="panel-body" id="consulta">
        <table id="t_reporte2" class="table table-condensed table-striped dt-responsive nowrap" cellspacing="0" width="100%">
         <thead>
            <tr>
                <th>Cantidad Lineas Activas</th>
                <th>Lineas Recargadas</th>
                <th>Cantidad Recargas</th>
                <th>Valor Total</th>
            </tr>
         </thead>
        </table>
    </div>
</div>

<div class="panel panel-primary" id="pie" style="display:none">
<div class="panel panel-heading">
    <h3 class="panel-title">Grafica Recargas</h3>
</div>
<div class="panel panel-body">
    <div id="recargas" align="center"  style="display:none"></div>
</div>
</div>
