/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    /*font-family: 'Lato', Calibri, Arial, sans-serif;
    /*background: #ddd url(../images/bg.jpg) repeat top left !important;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;*/
	
	background-color: #003245 !important;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
	/*overflow-y: hidden;*/
}

a {
	color: #555;
	text-decoration: none;
}
.container {
	width: 100%;
	position: relative;
	position: relative;
    right: 15px;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
	text-align:center;
}

.container > header {
	margin: 10px;
	font-size: 32px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}

.container > header .titulo
{
	margin: 200px auto 0px;
	/*background: #EF3829;
	border-radius: 15px 15px 0px 0px;
	width: 270px;*/
	position: relative;
}

.recover {
	font-size:17px;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	position: relative;
    left: 20px;
}

.recover:hover {
	color:#fff;
}

@media all and (max-height: 750px) and (min-height: 520px) {
	
	.container > header .titulo
	{
		margin: 150px auto 0px;
	}
	
}

@media all and (max-height: 580px) {
	.container > header .titulo
	{
		margin: 50px auto 0px;
	}
}

@media all and (max-height: 300px) {
	.container > header .titulo
	{
		margin: 0 auto 0px;
	}
}

.container > header .footer
{
	margin: 10% auto;
	color: #ccc;
	border-radius: 0px 0px 15px 15px ;
	width: 30%;
}
.container > header h1 {
	font-size: 30px;
	line-height: 38px;
	margin: 0;
	position: relative;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.container > header h2 {
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	text-align: right;
	padding: 15px 15px 5px 0;
	color: #fff;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 0 1px 1px #ccc;
}
