*{margin: 0;}
body{
	/*background-image:url(../imgs/bg-nubes.jpg);*/
	background-color: #EF3829;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
	overflow-y: hidden;
}
.diseno_logueo{
	/*background: #EF3829;
	background-color: rgba(181, 181, 181, 1);
	background: linear-gradient(rgba(252, 253, 253, 1),rgba(181, 181, 181, 1));
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;*/
	
	width: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
}
.ventana_logueo{
	position:relative;
	width: 90%;
	height: 320px;
	padding: 20px 20px 30px;
	margin:270px auto;
}
@media all and (max-height: 750px) and (min-height: 520px) {
	.ventana_logueo{
		position:relative;
		width: 90%;
		height:320px;
		padding: 20px 20px 30px;
		margin:200px auto;
	}
}
@media all and (max-height: 520px) and (min-height: 300px) {
	.ventana_logueo{
		position:relative;
		width: 90%;
		height:320px;
		padding: 20px 20px 30px;
		margin:150px auto;
	}
}
@media all and (max-height: 300px) {
	.ventana_logueo{
		position:relative;
		width: 90%;
		height:320px;
		padding: 20px 20px 30px;
		margin:150px auto;
	}
}
#loginmenj a{
	color:rgba(15, 117, 169, 1) !important;
	text-decoration: none;
	font-size: 12px;
	position:relative;
	bottom: 25px;
}
#loginmenj a:hover{
	text-decoration: underline;
}
#recovermenj a{
	color:rgba(15, 117, 169, 1) !important;
	text-decoration: none;
	font-size: 12px;
	position:relative;
	bottom: 5px;
}
#recovermenj a:hover{
	text-decoration: underline;
}
.inputbox{
	width: 300px;
	padding: 15px;
	text-indent: 3px;
	position: relative;
	right: 77px;
	font-size: 14px;
	color: #4F4F4F;
	font-weight: bold;
	bottom: 40px;
	background:#ECECEC;
	border-bottom: 1px solid #D3D3D3;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom-style: dashed;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.inputbox:focus{
	background:#fff;
	outline: 0;
	outline-style: none;
	outline-width: 0;
   -moz-outline-width: 0;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.inputbox2{
	width: 300px;
	padding: 15px;
	text-indent: 3px;
	position: relative;
	right: 77px;
	font-size: 14px;
	color: #4F4F4F;
	font-weight: bold;
	bottom: 40px;
	background:#ECECEC;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.inputbox2:focus{
	background:#fff;
	outline: 0;
	outline-style: none;
	outline-width: 0;
   -moz-outline-width: 0;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.button_logueo{
	width: 332px;
	background-color: #2180AE;
	border-radius: 3px;
	border: 1px solid transparent;
	color: #fff;
	font-size: 13px;
	line-height: normal;
	outline: none;
	padding: 15px;
	cursor: pointer;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	position: relative;
	right: 77px;
	bottom:20px;
}
.button_logueo:hover{
	  background-color: #2198D2;
}
.button_logueo:active{
	background-color: #2180AE;
}
.button_logueo_cancel{
	width: 332px;
	background-color: #D53A3F;
	border-radius: 3px;
	border: 1px solid transparent;
	color: #fff;
	font-size: 13px;
	line-height: normal;
	outline: none;
	padding: 15px;
	cursor: pointer;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	position: relative;
	right: 77px;
	bottom:20px;
}
.button_logueo_cancel:hover{
	  background-color: #2198D2;
}
.button_logueo_cancel:active{
	background-color: #2180AE;
}

#logindiv{
	width:200px;
	margin: 0 auto;
}
.contenido_log{
	position:relative;
	top:0px;
	left: 11px;;
	
}
.logo_logueo{
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	color: #F9F9F9;
	position: relative;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	position: relative;
	right: 7px;
	bottom: 70px;
}

.messager{
	position: absolute;
	z-index: 3;
	margin-top: -88px;
	margin-left: 238px;
	background-color: #DD5050;
	padding: 14px;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	display:none;
	width: 100px;
}

.messager2{
	position: absolute;
	z-index: 3;
	padding: 14px;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	display: none;
	background-color: #DD5050;
	top: 20px;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	min-width: 100px;
	max-width: 300px;
	text-align:center;
}
