input {
  background-color: rgba(211, 47, 47, 0.1) !important;
}

.form-control {
  border-color: rgba(211, 47, 47, 0.1) !important;
  border-radius: 0.25rem !important;
}

.form-control:focus {
  border-color: #EF3829 !important;
}

.panel-heading {
  color: #000 !important;
  font-size: 20px;
  text-align: center;
  background-color: transparent !important;
}

.panel-footer {
  border-color: #EF3829 !important;
  background-color: transparent !important;
}

.clear-both {
  clear: both;
}