<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Parámetros de Búsqueda</h3>
      </div>
      <form name="form_busqueda" method="post" id="frm_datos" action="#">
        <div class="panel-body">
          <div class="form-group col-md-6">
            <label>Fecha Inicio :</label>
            <div class="input-group date" id="datetimepicker1">
              <input
                type="text"
                id="fecha_ini"
                name="fecha_ini"
                class="form-control fecha"
                required
                title="Fecha Inicio"
              />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Fecha Fin :</label>
            <div class="input-group date" id="datetimepicker2">
              <input
                type="text"
                id="fecha_fin"
                name="fecha_fin"
                class="form-control fecha"
                required
                title="Fecha Fin"
              />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

        </div>
        <div class="panel-footer text-center">
          <button
            type="submit"
            name="button"
            id="button"
            class="btn btn-primary"
          >
            Buscar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Div que contiene la tabla de consulta.! -->

<div class="row " id="csv_report" align="center">
  <div class="col-md-10 col-md-offset-1 text-right">
    <div id="consulta" style="display:none;" class="panel panel-primary">
      <div class="input-group pull-right" style="width: 100px;">
        <div class="input-group-btn">
          <button
            id="CSV"
            class="btn btn-md btn-primary"
            title="Descargar Reporte"
          >
            <i class="fa fa-file-excel-o"> CSV</i>
          </button>
        </div>
      </div>
      <div class="panel-body">
        <table
          class="table table-striped dt-responsive nowrap"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th style="width: 50%;text-align: center;">CANTIDAD ALTAS</th>
              <th style="width: 50%;text-align: center;">DETALLE</th>
            </tr>
          </thead>
          <tbody id="t_reporte_tot"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<table id="t_altas" style="display:none;">
  <thead>
    <tr>
      <th style="text-align: center;">TIPO ALTA</th>
      <th style="text-align: center;">CANTIDAD ALTAS</th>
      <th style="text-align: center;">DETALLE</th>
    </tr>
  </thead>
</table>

<table id="t_altas_coloca" style="display:none;">
  <thead>
    <tr>
      <th style="text-align: center;">COLOCACION</th>
      <th style="text-align: center;">CANTIDAD ALTAS</th>
      <th style="text-align: center;">DETALLE</th>
    </tr>
  </thead>
</table>

<table id="t_altas_distri" style="display:none;">
  <thead>
    <tr>
      <th style="text-align: center;">DISTRIBUIDOR</th>
      <th style="text-align: center;">CANTIDAD ALTAS</th>
      <th style="text-align: center;">DETALLE</th>
    </tr>
  </thead>
</table>

<table id="t_altas_reg" style="display:none;">
  <thead>
    <tr>
      <th style="text-align: center;">REGIONAL</th>
      <th style="text-align: center;">CANTIDAD ALTAS</th>
      <th style="text-align: center;">DETALLE</th>
    </tr>
  </thead>
</table>

<table id="t_altas_ter" style="display:none;">
  <thead>
    <tr>
      <th style="text-align: center;">RUTA</th>
      <th style="text-align: center;">CANTIDAD ALTAS</th>
      <th style="text-align: center;">DETALLE</th>
    </tr>
  </thead>
</table>

<table id="t_altas_ruta" style="display:none;">
  <thead>
    <tr>
      <th style="text-align: center;">CIRCUITO</th>
      <th style="text-align: center;">CANTIDAD ALTAS</th>
    </tr>
  </thead>
</table>