<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Parametros de Busqueda</h3>
            </div>
            <form name="form_busqueda" method="post" id="frm_buscar_pedidos" action="#" autocomplete="off">
                <div class="panel-body">
                    <div class="form-group col-md-4">
                        <label>Fecha Inicio: </label>
                        <div class='input-group date fecha'>
                            <input type="text" name="fecha_inicio" id="fecha_inicio" class="form-control" required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Fecha Fin: </label>
                        <div class='input-group date fecha'>
                            <input type="text" name="fecha_fin" id="fecha_fin" class="form-control" required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Estados: </label>
                        <select name="estado" id="estado" class="form-control">
                            <option value="">SELECCIONAR</option>
                        </select>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="submit" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--TABLA DE RESULTADOS DETALLADO-->
<div id="consulta" style="display:none" class="panel panel-primary table-responsive">
    <div class="input-group text-right col-md-12">
        <div class="input-group-btn">
            <button id="CSV" class="btn btn-md btn-primary" title="Descargar Exel"><i class="fa fa-file-excel-o">
                    CSV</i></button>
            <button id="CSVTRAZABILIDAD" class="btn btn-md btn-primary" title="Descargar Exel"><i
                    class="fa fa-file-excel-o"> CSV TRAZABILIDAD</i></button>
        </div>
    </div>
    <div class="panel-body" style="overflow-x: auto;">
        <table id="t_reporte" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nro Pedido</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Cant. Articulos</th>
                    <th>Valor</th>
                    <th>Trazabilidad</th>
                    <th>Detalle</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<div style="display: none">
    <button type="submit" class="btn btn-primary"></button>
</div>