<!-- El html esta diseñado con hojas de estilo de Bootstrap
	 Encuentra Documentacion en http://getbootstrap.com/ -->
<div class="col-xs-12">
    <div class="box">
       <div class="box-header">
          <h3 class="box-title">[[descripcion_modulo]]</h3>
          <div class="box-tools">
              <div class="input-group" style="width: 150px;">
                 <div class="input-group-btn">
                      <button id="add" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Agregar</button>
                 </div>
              </div>
           </div>
       </div><!-- /.box-header -->
       <div class="box-body table-responsive no-padding">
           <!-- Espacio para la el diseño del modulo.-->

           <!-- Fin espacio diseño -->
       </div><!-- /.box-body -->
   </div><!-- /.box -->
</div>

<!-- Modal para crear y editar -->
<div class="modal" id="modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">[[descripcion_modulo]]</h4>
                  </div>
                  <div class="modal-body">
                      <form role="form" id="frm_ejemplo">
                        <div class="box-body">
                          <div class="form-group">
                            <label>Campo Ejemplo :</label>
                            <input type="text" class="form-control" id="campo_ejemplo" placeholder="" required>
                          </div>
                         
                           <div class="form-group">
                            <label>Select Ejemplo:</label>
                            <select class="form-control" id="select_ejemplo" required>
                              <option value="1">Ejemplo 1</option>
                              <option value="2">Ejemplo 2</option>
                            </select>
                          </div>
                        </div>
                         <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                          </div>
                      </form>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>