
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<h3 class="panel-title">Parámetros de Búsqueda</h3>
			</div>
			<form name="frmCompras" id="frmCompras" method="post" action="#" autocomplete="off">
				
				<div class="panel-body">
					<div class="form-group col-md-6">
						<label>Fecha Inicio :</label>
						<div class='input-group date' id='datetimepicker1'>
							<input type="text" id="fecha_ini" name="fecha_ini" class="form-control" required title="Fecha Inicio">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label>Fecha Fin :</label>
						<div class='input-group date' id='datetimepicker2'>
							<input type="text" id="fecha_fin" name="fecha_fin" class="form-control" required title="Fecha Fin">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					
				</div>
				<div class="panel-footer text-center">
					<button type="button" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row " id="csv_report" style="display:none;" align="center">
	<div class="col-md-12 text-right">
		<div class="input-group pull-right" style="width: 100px;">
			<div class="input-group-btn">
				<button id="CSV" type="submit" class="btn btn-md btn-primary" title="Descargar Reporte"><i class="fa fa-file-excel-o"> CSV</i></button>
			</div>
		</div>
	</div>
</div>

<br>


<div class="panel panel-primary" id="reporte_ventas" style="display: none;" >
	<div class="input-group text-right col-md-12">
		<div class="input-group-btn">
		  <button id="CSV" class="btn btn-md btn-primary" onclick="descargar_csv()" title="Descargar Exel"><i
			  class="fa fa-file-excel-o">CSV</i></button>
		</div>
	  </div>
	<div class="panel-body">
	  <div class="table-responsive">

	<table id="consulta" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0"
	width="100%" style="display:none;">
		<thead>
			<tr>
				<th>Vendedor</th>
				<th>Fecha Venta</th>
				<th>Cantidad Productos</th>
				<th>Valor Total</th>
				<th>Detalle</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
   </table>
	
</div>
</div>
</div>


<!-- modal de impuestos-->
<div class="modal modal2 fade" id="modal_seriales" >
	<div class="modal-dialog modal-lg" style="width:50%;">
		<div class="modal-content" style="width: 105%;right: 4%;">
			<div class="modal-header">
				<button type="button" class="close" onclick="$('.modal').modal('hide');">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="titulo_modal">Ver Seriales</h4>
			</div>
			 <form method="post" id="FrmImpuestos" action="#">
				 <div class="modal-body "   > 
					<div class="row" style="padding: 10px;">
						<div class ="col-md-12 " style="margin-bottom: 20px;padding: 20px;">
						  <table id="consulta_modal" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>SKU</th>
									<th>Referencia</th>
									<th>Serial</th>
									</tr>
							</thead>
						</table>
					  </div>
					</div>
					
				 </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" onclick="guadar_impuestos_temporales()">Guardar</button>
				  </div>
			 </form>
		</div>
	</div>
  </div><!-- /.modal -->