<!-- form -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Reporte Recargas</h3>
            </div>

            <form name="form_busqueda" id="frm_buscar_rutas" method="POST">
                <div class="panel-body">
                    <div class="form-group col-md-6">
                        <label>Fecha Inicio:</label>

                        <div class="input-group date" id="datetimepicker1">
                            <input type="text" id="f_ini" name="f_ini" class="form-control fecha" title="Fecha Inicio" required />

                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Fecha Fin:</label>

                        <div class="input-group date" id="datetimepicker2">
                            <input type="text" id="f_fin" name="f_fin" class="form-control fecha" title="Fecha Fin" required />

                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Operador:</label>

                        <select name="operador" id="operador" class="form-control"></select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Movil:</label>

                        <input type="text" name="movil" id="movil" class="form-control" placeholder="Buscar por móvil" />
                    </div>
                </div>

                <div class="panel-footer text-center">
                    <button type="button" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- result -->
<div id="consulta" style="display: none;" class="panel panel-primary">
    <div class="input-group" style="width: 100px;">
        <div class="input-group-btn">
            <button id="CSV" class="btn btn-md btn-primary" title="Descargar Excel"><i class="fa fa-file-excel-o"> CSV</i></button>
        </div>
    </div>

    <div class="panel-body">
        <table id="tbl_recarga" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>FECHA</th>
                    <th>HORA</th>
                    <th>BOLSA</th>
                    <th>NUMERO LINEA</th>
                    <th>VALOR</th>
                    <th>SALDO ANTERIOR INCENTIVO</th>
                    <th>DESCUENTO INCENTIVO</th>
                    <th>SALDO FINAL INCENTIVO</th>
                    <th>SALDO ANTERIOR</th>
                    <th>DESCUENTO DE SALDO</th>
                    <th>SALDO FINAL</th>
                    <th>OPERADOR</th>
                    <th>PROVEEDOR</th>
                    <th>ACCESO</th>
                    <th>TIPO</th>
                    <th>PAQUETE</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<dir style="display: none;">
    <button type="submit">Buscar</button>
</dir>