<!-- El html esta diseñado con hojas de estilo de Bootstrap
	 Encuentra Documentacion en http://getbootstrap.com/ -->
<style type="text/css">
 .huge {
    font-size: 18px;
}
.huge_min {
    font-size: 15px;
}
  .circles {
  margin-bottom: -10px;
}

.circle {

  margin: 0px 0px 0px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle canvas {
  vertical-align: top;
}

.circle strong {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
}

.circle strong i {
  font-style: normal;
  font-size: 0.1em;
  font-weight: normal;
}

.circle span {
  display: block;
  margin-top: 12px;
}
.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}
.grid {
    margin-top: 1em;
}

/*modal evidencia*/
#img_evid {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#img_evid:hover {
  background-color: rgba(0,0,0,0.8);
  filter:brightness(0.6);}

/* The Modal (background) */
.modal_img {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content_img {
    margin: auto;
    display: block;
    width: 90%;
}

/* Add Animation */
.modal-content_img {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media all and (max-width: 1865px) {

   .visitas-efectiva-label{
        padding-left: 23.57%;
    }
    .visitas-realizada-label{
        padding-left: 17%;
    }

    .pdv-visitados-label{
        padding-left: 38.35%;
    }

    .pdv-compra-label{
        padding-left: 21.19%;
    }
    .cantidad-vendedores-label{
       padding-top: 14%;
    }
}
</style>
<div class="row ">
    <div class="col-md-12 ">
      <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Parámetros de Búsqueda</h3>
            </div>
            <form name="form_busqueda" method="post" id="frm_buscar_rutas" action="#" autocomplete="off">
                <div class="panel-body">
                    <input type="hidden" name="id_usuario" id="id_usuario" />
                    <div class="form-group col-md-2"></div>
                     <div class="form-group col-md-4">
                         <label>Fecha Inicio :</label>
                         <div class='input-group date' id='datetimepicker1'>
                             <input type="text" id="f_ini" name="f_ini" class="form-control fecha no_reload" required  title="Fecha Inicio" >
                             <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                    </div>
                     <div class="form-group col-md-4">
                         <label>Fecha Fin :</label>
                         <div class='input-group date' id='datetimepicker2'>
                             <input type="text" id="f_fin" name="f_fin" class="form-control fecha no_reload" required  title="Fecha Fin">
                             <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                         </div>
                    </div>
                    
                </div>
                <div class="panel-footer text-center">
                    <button type="button" name="btn_buscar" id="btn_buscar" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
  </div>
</div>
<!-- Div que contiene la tabla de consulta.! -->
<div class="row" id="div_totales" style="display:none">
    <div class="col-lg-3 col-md-6 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #31B404; color: #FFFFFF">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="fa-stack fa-3x" style="margin-left: -15px;">
                                      <i class="fas fa-calendar-alt fa-stack-2x"></i>
                            
                                     <i class="fa fa-stack-1x"></i>
                                  </span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id = "total_vis">10.000</div>
                                    <br>
                                    <br>
                                    <div class="visitas-realizada-label" style="padding-bottom:  12px;">VISITAS REALIZADAS</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
     <div class="col-lg-3 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color:">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span class="fa-stack fa-3x">
                                      <i class="fas fa-check fa-stack-1x" style="margin-top:7px"></i>
                                      <i class="far fa-calendar fa-stack-2x"></i>
                                    </span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="vis_efect">5.000</div>
                                    <div>
                                       <div id="circle_vis_efec" class="circle" style="">
                                       <strong></strong>

                                      </div>
                                      <div class="visitas-efectiva-label">VISITAS EFECTIVAS</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   
  
      <div class="col-lg-3 col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading" style="background-color:">
                            <div class="row">
                                <div class="col-xs-3">

                                    <span class="fa-stack fa-3x" style="margin-left:-17px">
                                      <i class="fas fa-user fa-stack-1x" style="margin-top:2px"></i>
                                      <i class="fas fa-mobile-alt fa-stack-2x"></i>
                                    </span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="cant_vende">100</div>
                                    <br>
                                    <br>
                                    <div class="cantidad-vendedores-label" style="margin-top: -8px; padding-top: 13%; padding-bottom:  1px;">CANTIDAD VENDEDORES</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

</div>



<!--TABLA DE RESULTADOS-->
<div id="consulta" style="display:none" class="panel panel-primary table-responsive">
  <div class="input-group text-right col-md-12">
           <div class="input-group-btn">
               <button id="CSV" class="btn btn-md btn-primary" title="Descargar Exel"><i class="fa fa-file-excel-o"> CSV</i></button>
           </div>
  </div>
      <div class="panel-body">

             <table id="t_reporte" class="table table-hover table-striped dt-responsive" cellspacing="0" width="100%">
              <thead>
              </thead>
           </table>
      </div>
</div>

<div style="display: none">
    <button type="submit" class="btn btn-primary"></button>
</div>

