
<style>
	.azul{
		background-color: #1C90C8;
	}

	.bus{
		/*box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);*/
	    -webkit-border-radius: 3px;
	    -webkit-box-orient: vertical;
	    -webkit-transition: 200ms transform;
	    height: 50px;
	    /*background: #ECECEC;*/
	    font-size: 14px !Important;
    	color: #4F4F4F !Important;
    	font-weight: bold;
    }

    .bus:focus{
		background:#fff;
		outline: 0;
		outline-style: none;
		outline-width: 0;
	   -moz-outline-width: 0;
	   -webkit-tap-highlight-color: rgba(0,0,0,0);
	   box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	   border-color: transparent !Important;
	}

	@media all and (max-width: 991px){
		.pie_noti{
			padding-top: 50px;
		}
	}


	
</style>

<div class="bienvenida"></div>
<div class="barratitulos"></div>

<div class="row">
	<div class="col-md-12">
		<!-- Inicio Buscar -->
		<div class="row bsqSearch" style="visibility: hidden;">
		   <div class="col-md-12">
		   	  <div class="col-md-6 col-md-offset-3">  
	            <form name="form_busqueda" method="post" id="form_busqueda" action="#">
	                <div class="panel-body">
                       
					  <input type="text" id="param_busq" class="form-control bus" placeholder="Buscar por...">
				      <!--
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit">
				        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				        </button>
				      </span>-->
						
	                </div>
	                
	            </form>
	           </div>
		    </div>
		</div>
		<br>
		<!-- Fin Buscar -->

		<div class="section-noticias col-md-12" style="visibility: hidden;">
			<div class="col-md-12" id="content-noticia">
			</div>
		</div>

	</div>

</div>

<nav class="text-center contents-nav" style="visibility: hidden">
    <ul class="pagination">
        <li class="pag_prev">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">Anterior</span>
            </a>
        </li>
        <li class="pag_next">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">Siguiente</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Inicio -->

	<div class="modal fade" id="MasNoticia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myTituloNoticia"></h4>
	      </div>
	      <div class="modal-body"> 
	      	  <div class="row">
			      <div class="col-md-12">
				      <div class="modal-body" id="myDescripcionNoticia" style="word-wrap: break-word;"></div>
				      <div class="text-center" style="overflow-y: auto;"><img src="" id="imgNoti" style="max-width: 500px; height: auto; margin:5px;" /></div>
			      </div>
		      </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Fin    -->

	<!-- Inicio Modal PDF -->

	<div class="modal fade" id="modalPdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document" style="width: 50%; margin-left: 25%;">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="miTitlePdf"></h4>
	      </div>
	      <object data="" id="filePdf" type="application/pdf" width="100%" height="700px"></object>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Fin  Modal PDF  -->

