<link rel="stylesheet" type="text/css" href="template/css/my_style.css">
<style>

  .tarifa_especial .modal-dialog{
    -webkit-animation-name: movimiento2;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
  }

  .tarifa_especial .modal-header{
    border-bottom: 5px solid transparent !Important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-animation-name: movimiento;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
  }

  @-webkit-keyframes movimiento {
     from {
      background-color:#003245;
     }
     
     to {
      background-color: #5cb85c; 
     }
  }

  @-webkit-keyframes movimiento2 {
     from {
        border: 4px solid #003245;
     }
     
     to {
        border: 4px solid #5cb85c;
     }
  }

</style>
<div id="recargas">
  <div class="load"><div class="load-content">En este momento se está procesando tu solicitud... <img src="template/img/loading.gif" border="0" style="position: relative;bottom: 10px;"></div></div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
       <div class="panel panel-primary" style="font-family: sans-serif;">
          <div class="panel-heading text-center">
              <h3 class="panel-title">Venta de Recargas</h3>
          </div>
              <form name="frmRe" id="frmRe" autocomplete="off">
                  <input type="hidden" name="saldoac" id="saldoac" value="">
                  <input type="hidden" name="saldoacIn" id="saldoacIn" value="">
                  <div class="panel-body">
                      <!--<div class="form-group col-md-12">-->
                        <div class="col-md-12 text-left" style="position: relative;font-size: 19px;">Saldo recarga:
                          <span id="bolsa" style="position: relative;left: 10px;"></span>
                        </div>
                        <div class="col-md-12 text-left" style="position: relative;font-size: 19px;">Saldo incentivo:
                          <span id="bolsa_in"></span>
                        </div> 
                      <!--</div>-->
                      <div class="form-group col-md-12 text-left"></div>
                      <div class="form-group col-md-12 text-center" style="border: 1px solid #e7e7e7;padding-top: 15px;">
                     	    <!--<div style="background:#E7E7E7;height:1px;"></div>-->
                        <div class="form-group col-md-6 text-center" style="position: relative;right: 5px;padding: 0;" id="operadores">
                            <div id="oper_movistar" style="display: none">
                              <label style="font-size: 18px;">Operador Principal:</label><br />		
                              <span class="cssToolTip2"> 
                                  <input type="radio" id="6" name="servicio" value="6-Recarga Movistar" onClick="loaddescrip(this.value)">
                                  <label for="6"><img src="template/img/operadores/Movistar.png" alt="Recarga Movistar"></label>
                                  <div> Recarga Movistar </div> 
                              </span><br /><br />
                            </div>
                            <div id="otros_oper" style="display: none">
                              <label style="font-size: 18px;">Otros Operadores:</label>
                              <div style="width:auto;margin: 0 auto;" id="ver_operadores"></div>
                            </div>
                        </div>
                
                       <div class="form-group col-md-6 text-center" style="border-left: 1px solid #E7E7E7;">
                           <div id="servs" style="display:none">
                                <label style="font-size: 18px;">Categoria Paquete :</label>
                                <div id="idservicio"></div>
                                <div id="paquetes"></div>
                                <br>
                           </div>
                           <label style="font-size: 18px;">Descripción:</label>
                           <div id="resultser" style="background-color: #E7E7E7;padding: 5px;border-radius: 3px;font-size: 17px;">N/A</div>
                           <br />
                           <label style="font-size:18px;">Movil:</label>
                           <input id="num_m" name="num_m" type="text" class="form-control"  style="font-size:17px;"/>
                            <br />
                            <div id="valuestatic">
                              <p style="font-size:18px;"><strong>Seleccione el valor de la recarga:</strong></p>
                              <div >
                                  <p>
                                  <div id = "valores"></div>

                                  <!--<input type="radio" id="1000" name="valor" value="1000" onClick="clearvalue(this.value)">
                                  <label for="1000" style="font-size:25px;">1,000</label>
                                  
                                  <input type="radio" id="2000" name="valor" value="2000" onClick="clearvalue(this.value)">
                                  <label for="2000" style="font-size:25px">2,000</label>
                                  
                                  <input type="radio" id="5000" name="valor" value="5000" onClick="clearvalue(this.value)">
                                  <label for="5000" style="font-size:25px">5,000</label>
                                  
                                  <input type="radio" id="10000" name="valor" value="10000" onClick="clearvalue(this.value)">
                                  <label for="10000" style="font-size:25px">10,000</label>
                                  
                                  <input type="radio" id="20000" name="valor" value="20000" onClick="clearvalue(this.value)">
                                  <label for="20000" style="font-size:25px">20,000</label>
                                  
                                  <input type="radio" id="50000" name="valor" value="50000" onClick="clearvalue(this.value)">
                                  <label for="50000" style="font-size:25px">50,000</label>-->
                                  </p>
                              </div>
                             </div>
                             <br />
                             <label style="font-size:18px;">Valor de la venta:</label>
                             </span><input type="text" name="valorotro" id="valorotro" class="form-control" style="font-size:17px;">
                             <input type="hidden" name="valorotro2" id="valorotro2">
                             <input type="hidden" name="valorotro3" id="valorotro3">
                           <div style="display:none;">
                               <strong>Descuento Saldo :</strong>
                               <div id="valor_des" style="font-size:13px;">0</div>
                           </div>
                           
                           <div style="display:none;">
                               <strong>Utilidad :</strong>
                               <div id="idservicio2" style="font-size:13px;">0</div>
                           </div>
                           
                       </div>

                     </div>
                 </div>
                 <div class="panel-footer text-center">  
                      <button type="button" id="cancelar" class="btn btn-danger">Cancelar</button>
                      <button type="submit" name="bt_envi" id="bt_envi" class="btn btn-primary">Enviar</button>
                 </div>
               
              </form>
           </div>
      </div>
  </div>

  <div class="form-group col-md-8 col-md-offset-2 text-center">
      <button type="submit" name="bt_envi" id="ultimeTransac" class="btn btn-primary">Últimas 10 transacciones</button>
  </div>
  <div id="resultado" class="panel panel-primary" style="display:none;">
      <div class="panel-body">
          <table id="tblTrans" align="center" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                  <tr>
                      <th align="center">Movimiento</th>
                      <th align="center">Servicio</th>
                      <th align="center">Móvil</th>
                      <th align="center">Paquetigo</th>
                      <th align="center">Fecha Transacción</th>
                      <th align="center">Hora Transacción</th>
                      <th align="center">Porcentaje %</th>
                      <th align="center">Total valor</th>
                      <th align="center">Saldo Anterior Incentivo</th>
                      <th align="center">Descuento Incentivo</th>
                      <th align="center">Saldo Final Incentivo</th>
                      <th align="center">Saldo Anterior</th>
                      <th align="center">Descuento de Saldo</th>
                      <th align="center">Saldo Final</th>
                      <!--<th align="center">Estado</th>-->
                  </tr>
              </thead> 
          </table>
      </div>
  </div> 

</div>

      

