<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Parametros de Busqueda</h3>
      </div>
      <form name="form_busqueda" method="post" id="frm_buscar_rutas" action="#">
        <div class="panel-body">
          <div class="form-group col-md-6">
            <label>Fecha Inicial: </label>
            <div class="input-group date fecha">
              <input
                type="text"
                id="f_ini"
                class="form-control "
                required
                title="Fecha Inicial"
              />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Fecha Final: </label>
            <div class="input-group date fecha">
              <input
                type="text"
                id="f_fin"
                class="form-control fecha"
                required
                title="Fecha Final"
              />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div id="d_plataforma" class="form-group col-md-6 col-md-offset-3">
            <label>Plataforma: </label>
            <select name="plataforma" id="plataforma" class="form-control">
              <option value="">Seleccionar...</option>
              <option value="1">MiPuntoBox</option>
            </select>
          </div>
          <div id="d_distri" class="form-group col-md-6" style="display: none">
            <label>Agentes: </label>
            <select name="distri" id="distri" class="form-control">
              <option value="">Seleccionar...</option>
            </select>
          </div>
        </div>
        <div class="panel-footer text-center">
          <button type="button" id="btn_buscar" class="btn btn-primary">
            Buscar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- OPERADOR -->
<div id="consulta" style="display: none;" class="panel panel-primary">
  <div class="input-group" style="width: 100px;">
    <div class="input-group-btn">
      <button id="CSV" class="btn btn-md btn-primary" title="Descargar Exel">
        <i class="fa fa-file-excel-o"> CSV</i>
      </button>
    </div>
  </div>

  <div class="panel-body">
    <table id="t_general" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>PERFIL</th>
          <th>CANTIDAD USUARIOS</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<!-- DISTRIBUIDOR -->
<div id="consulta_distri" style="display: none;" class="panel panel-primary">
  <div class="input-group" style="width: 100px;">
    <div class="input-group-btn">
      <button id="CSV_distri" class="btn btn-md btn-primary" title="Descargar Exel">
        <i class="fa fa-file-excel-o"> CSV</i>
      </button>
    </div>
  </div>

  <div class="panel-body">
    <table id="t_general_distri" class="table table-hover table-striped dt-responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>AGENTE</th>
          <th>CANTIDAD USUARIOS</th>
          <th>DETALLE</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<div style="display: none">
  <button type="submit" class="btn btn-primary"></button>
</div>